<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Animal App</title>
  </head>
  <body>
    <h1>Welcome to the Animals app</h1>
    <h2>An app for collecting your favorite animals</h2>
    <br>
    <a class="add-animal" href="/animals/">All Animals</a>
    <img
    class="animal-pic1"
    src="https://static.vecteezy.com/system/resources/thumbnails/014/529/766/small/cute-penguin-cute-animal-3d-rendering-illustration-png.png"
    alt="happy penguin"
    />
  </body>
</html>
